/* #region Root / Color Variables */
:root {
  --bg-color: #fcfcfd;
  --opposite-bg: 0, 0, 0;
  --faded-bg-l: 1%;
  --border-color: #c4c4c4;
  --border-hover: #a0a0a0;
  --border-focus: #999;
  --font-color: #17191c;
  --link-color: #00c;
  --green: #cfc;
  --yellow: #ffc;
  --pink: #fcf;
  --red: #fdc;
  --orange: #fec;
  --purple: #dcf;
  --blue: #cef;
}
@media (prefers-color-scheme: light) {
  span {
    padding: 1px 5px;
    border-radius: 0.375rem;
  }
  .green {
    background-color: var(--green);
  }
  .yellow {
    background-color: var(--yellow);
  }
  .pink {
    background-color: var(--pink);
  }
  .red {
    background-color: var(--red);
  }
  .orange {
    background-color: var(--orange);
  }
  .purple {
    background-color: var(--purple);
  }
  .blue {
    background-color: var(--blue);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #141415;
    --opposite-bg: 255, 255, 255;
    --faded-bg-l: 99%;
    --border-color: #7a7f85;
    --border-hover: #95989d;
    --border-focus: #afb2b6;
    --font-color: #f4f5f5;
    --link-color: #3df;
    --green: #0f8;
    --yellow: #fe0;
    --pink: #f8f;
    --red: #f88;
    --orange: #fa0;
    --purple: #b9f;
    --blue: #3df;
  }
  .green {
    color: var(--green);
  }
  .yellow {
    color: var(--yellow);
  }
  .pink {
    color: var(--pink);
  }
  .red {
    color: var(--red);
  }
  .orange {
    color: var(--orange);
  }
  .purple {
    color: var(--purple);
  }
  .blue {
    color: var(--blue);
  }
}
/* #endregion */

/* #region Base / Root */
*,
::before,
::after {
  box-sizing: border-box;
  border-color: var(--border-color);
}
html {
  line-height: 1.5;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  margin: 0;
  line-height: inherit;
  background-color: var(--bg-color);
  color: var(--font-color);
}
/* #endregion */

/* #region Main / Section / Article */
main {
  padding: 1rem 1rem 2rem;
}
section,
article {
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 48rem;
}
/* #endregion */

/* #region Typography / Type */
p {
  margin: 0.5rem 0 1rem;
}
/* #endregion */

/* #region Headers */
h1,
h2 {
  font-weight: 300;
  line-height: 1.25;
}
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0 1rem;
  font-weight: 500;
  line-height: 1.25;
}
h1 {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}
h2 {
  font-size: 2rem;
  margin: 1.5rem 0 1.25rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5,
h6 {
  font-size: 1.125rem;
}
/* #endregion */

/* #region Links */
a {
  text-decoration: none;
  color: var(--link-color);
}
a:hover,
a:focus {
  text-decoration: underline;
}
/* #endregion */

/* #region Blockquotes */
blockquote {
  margin: 0 1.5rem 1.5rem;
  padding: 0;
}
blockquote p {
  margin-bottom: 0.5rem;
}
/* #endregion */

/* #region Details & Summary */
details {
  margin: 1rem 0 2rem;
  border-bottom: 1px dotted;
}
summary {
  margin: 1rem 0;
}
/* #endregion */

/* #region Sub & Sup */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* #endregion */

/* #region Bold / Strong */
b,
strong {
  font-weight: bolder;
}
/* #endregion */

/* #region Small */
small {
  font-size: 80%;
}
/* #endregion */

/* #region Lists */
ul,
ol {
  margin: 0.5rem 0 1.5rem 1.5rem;
  padding: 0;
  list-style-position: outside;
  list-style-image: none;
}
li,
li p {
  margin-bottom: 0.125rem;
}
ol li,
ul li {
  padding-left: 0;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin: 0;
}
li > ol,
li > ul {
  margin: 0 0 0.125rem 1.5rem;
}
/* #endregion */

/* #region Line / Horizontal Rule */
hr {
  margin: 2rem 0;
  height: 0;
  color: inherit;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--border-color);
}
/* #endregion */

/* #region Tables */
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  font-size: 1rem;
  line-height: 1.5rem;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 3rem;
}
thead {
  text-align: left;
}
th,
td {
  text-align: left;
  padding: 0.75rem 1rem;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
th {
  font-weight: bold;
}
th,
td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}
/* #endregion */

/* #region Multimedia */
img,
svg,
video,
audio {
  display: block;
  margin: 1rem 0;
}
audio {
  width: 100%;
}
img,
video {
  max-width: 100%;
  height: auto;
}
/* #endregion */

/* #region Code */
code,
kbd,
samp,
pre {
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
/* #endregion */

/* #region Form elements */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  color: var(--font-color);
  margin: 0;
  padding: 0;
}
fieldset {
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  border-width: 0;
  border-style: solid;
}
fieldset,
legend {
  padding: 0;
}
legend {
  font-weight: 500;
  font-size: 1.125rem;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 0.9;
  color: inherit;
}
input::placeholder,
textarea::placeholder {
  opacity: 0.9;
  color: inherit;
}
button,
select {
  text-transform: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
[role="button"],
button {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
label {
  display: block;
  font-weight: 500;
  font-size: 0.875rem;
  margin: 0.75rem 0;
}
select {
  cursor: pointer;
}
input:not([type="checkbox"]),
textarea,
select {
  display: block;
  height: 2rem;
  padding: 0.25rem 0.5rem;
  background-color: hsla(220, 8%, var(--faded-bg-l), 0.02);
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
  border-radius: 0.25rem;
  outline: none;
  width: 100%;
  margin: 0.25rem 0;
}
input:hover,
textarea:hover,
select:hover {
  background-color: transparent;
  border-color: var(--border-hover);
}
input:focus,
textarea:focus,
select:focus {
  background-color: transparent;
  border-color: var(--border-focus);
}
textarea {
  resize: none;
  height: auto;
  line-height: 1.15;
  padding: 0.4rem 0.5rem 0.5rem;
  min-height: 2rem;
}
label input[type="checkbox"] {
  margin-right: 0.5rem;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-image: none;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.15;
  letter-spacing: 0.025rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
  background-color: rgba(var(--opposite-bg), 0.01);
  text-decoration: none;
  user-select: none;
  width: auto;
  height: auto;
  margin: 0.25rem 0.5rem 0.75rem 0;
  box-shadow: 0 0 2px 2px rgba(var(--opposite-bg), 0.07);
}
button:hover,
.button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  text-decoration: none;
  background-color: transparent;
  border-color: var(--border-hover);
  box-shadow: 0 0 3px 3px rgba(var(--opposite-bg), 0.06);
}
button:focus,
.button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  text-decoration: none;
  background-color: transparent;
  border-color: var(--border-focus);
  box-shadow: 0 0 3px 3px rgba(var(--opposite-bg), 0.06);
}
/* #endregion */
